body {
    font-family: Arial;
    background: #fafafa;
}

.box {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
}
